run = "npm run server"
entrypoint = "src/server.ts"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run build && npm run start:server"]
deploymentTarget = "cloudrun"

[env]
WEBHOOK_PORT = "3000"
